version: "3.3"

services:

  item-ranker:
    build: ./item_ranker
    volumes:
      - ./item_ranker:/app/

  contextual-item-ranker:
    build: ./contextual_item_ranker
    volumes:
      - ./contextual_item_ranker:/app/

  es:
    build: ./es
    ports:
      - 9200:9200
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms8g -Xmx8g"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - ./es/plugin/build/distributions:/distributions
    depends_on:
      - item-ranker
      - contextual-item-ranker

  tests:
    build: ./tests
    volumes:
      - ./tests:/app/
    depends_on:
     - es

  benchmarking:
    build: ./benchmarking/
    volumes:
      - ./benchmarking/:/app/
    depends_on:
      - es


